<!doctype html>
{% extends "layouts/index.html" %}

{% block page_title %}Users{% endblock %}

{% block body_block %}
<h1>Hello Users.</h1>
    <h4>Add New User Here : <a href="{% url 'users:user_registration' %}">Click Here</a></h4>
    <table class="border_r">
        {% if users %}
            <ul style="list-style-type: decimal-leading-zero">
            {% for user in users %}
                <li>
                    <div>
                        <h5>User Info : </h5>
                        <p>User Name  : {{ user.first_name }} {{ user.last_name }}</p>
                        <p>User Email : {{ user.email }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>No Webpages Found!</h4>
        {% endif %}
    </table>
{% endblock %}