<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User App</title>
</head>
<body>
    <h1>Hello Users.</h1>
    <h4>Add New User Here : <a href="/users/forms/">Click Here</a></h4>
    <table class="border_r">
        {% if users %}
            <ul style="list-style-type: decimal-leading-zero">
            {% for user in users %}
                <li>
                    <div>
                        <h5>User Info : </h5>
                        <p>User Name  : {{ user.first_name }} {{ user.last_name }}</p>
                        <p>User Email : {{ user.email }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>No Webpages Found!</h4>
        {% endif %}
    </table>
</body>
</html>