<!doctype html>
{% extends 'layouts/index.html' %}
{% load static %}

{% block page_title %} {{page_name}} {% endblock %}

{% block body_block %}
    <h1>Please Login</h1>
    <form action="{% url 'auth_app:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="submit" value="Login" class="btn btn-success">
    </form>
{% endblock %}